ul {
    list-style: none;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}
a, a:hover, .btn-link:hover, .btn-link:focus {
    text-decoration: none;
}
.color-red {
    color: #c9302c;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}
.thumbnail {
    width: 100%;
    min-height: 100px;
}
.app {
    margin: 0;
}

.search-form-container-fluid {
    padding: 15px 0;
    background: #f1f1f1;
}

.search-form-container .form-group {
    margin: 0;
}

.search-box-container {
    border-right: 2px dotted rgba(0,0,0, 0.2);
}
@media (max-width: 1000px) {
    .search-box-container {
        border: none;
    }
}

.toggle-favorite-box-container-button {
    /*background: rgba(255,255,255,0.5);*/
    background: rgba(255,255,255,0.7);

    border: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 9999;
}
.toggle-favorite-box-container-button .btn {
    color: #c9302c;
}

.close-sidebar-btn {
    position: absolute;
    top: 1px;
    right: 0px;
}

.toggle-favorite-box-container {
    width: 400px;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    background: #ffffff;
    border-left: 1px solid rgba(0,0,0, 0.1);
    z-index: 9999;
    padding: 15px;
    overflow-y: auto;
}
.toggle-favorite-box-container

.search-box-item {
    position: relative;
}
.action-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #5f5f5f;
    font-size: 20px;
}
.favorite-action-btn {
}
.favorite-action-btn:hover, .favorite-action-btn.active {
    color: #c9302c;
}

.delete-action-btn {
    font-size: 15px;
}

.content-not-found-box {
    height: 400px;
    padding: 90px 20px;
    border: 5px dashed rgba(0,0,0, 0.1);
    text-align: center;
}

.content-not-found-box h2 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(0,0,0, 0.5);
}

.content-not-found-box h3 {
    font-size: 25px;
    color: rgba(0,0,0, 0.5);
}